/* UserCard.css */
.user-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-picture {
  border-radius: 50%;
  padding: 0.3rem;
  background: linear-gradient(130deg, #ffefb0 51.77%, #5001c7 129.35%);
  position: relative;
  display: flex;
  border: 3px solid black;
  transition: all ease 0.3s;
}

.user-picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.user-picture img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.login-fields {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;

  max-height: 0;
  opacity: 0;
  margin-top: 0;

  transition: max-height 0.4s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.login-fields.visible {
  margin-top: 1rem;
  max-height: 200px;
  opacity: 1;
}

.user-submit-btn {
  font-size: 1.5rem;
  padding: 0.4em 0.5em;
  display: flex;
}