.new-list-modal {
  position: fixed;
  z-index: 1000;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  background-color: var(--background-color);
  transform: scale(0);
  border-radius: 15px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-list-modal.open {
  transform: scale(1);
}

.new-list-modal h2
{
  margin-bottom: auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: opacity 0.3s ease;
}