.film-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  background: var(--background-color);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  padding-inline: 2rem;
}

.film-modal.open {
  transform: translateX(0);
}

.film-modal-header {
  position: relative;
  width: 100%;
  height: 35%;
  margin-bottom: 1.5rem;
}

.film-modal-picture {
  position: absolute;
  top: -2%;
  left: -10%;
  width: 120%;
  height: 100%;
}

.film-modal-picture img {
  filter: brightness(0.4) blur(5px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:initial;
}

.film-modal-header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-modal-header-content h2 {
  font-size: 7rem;
  color: white;
  margin: 0;
}

.film-modal-first-section {
  display: inline-flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.film-modal-synopsis {
  width: 70%;
}

.film-modal-details {
  width: 30%;
}

.film-modal-details #detail {
  color: var(--accent-color);
  font-weight: bold;
}

.film-modal-second-section {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.genre-section {
  display: block;
  width: 40%;
  padding: 0;
}

.genre-section h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.genre-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.genre-badge {
  background: var(--secondary-color);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 1rem;
  max-width: fit-content;
}

.customization {
  background-color: var(--accent-hover-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: opacity 0.3s ease;
}