#set-password-title {
    color: var(--text-color);
    margin-bottom: 0.8rem;
}

.set-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}
