.list-section {
  margin-bottom: 1.5rem;
  position: relative;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar button {
  display: flex;
  background-color: var(--accent-color);
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: bold;
}

.empty-list {
  background-color: var(--secondary-color);
  height: 170px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 1rem;
  font-size: larger;
}