.pinned-section-container {
  width: 100%;
}

.pinned-list-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}


.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar button {
  display: flex;
  background-color: var(--accent-color);
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: bold;
}
